.container {
  display: flex;
  justify-content: center;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.05rem;
  background-color: rgba(0,0,0,.10);
}